{% extends 'NISIInvoice/main.html' %}
{% block content %}
<h3 class="mt-4">Invoice</h3>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col" style="width:25%">Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Valid From</th>

    </tr>
  </thead>
  {% for list in invoice_list %}
    <tbody>
      <tr>
        <td>{{forloop.counter}}</td>
        <td><a href='/{{list.id}}'>
          {% if list.middle_name %}
            {{list.first_name|title}} {{list.middle_name|title}} {{list.last_name|title}}
            {% else %}
              {{list.first_name|title}} {{list.last_name|title}}
          {% endif %}
        </a></td>
        <td>{{list.email_id}}</td>
        <td>{{list.phone_number}}</td>
        <td>{{list.start_date}} to {{list.end_date}}</td>
        <td>
          <button type="button" class="btn btn-link btn-action dropdown-toggle" id="listDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fas fa-ellipsis-v"></i></button>
          <div class="dropdown-menu" aria-labelledby="listDropdown">
            <a class="dropdown-item" href="#">File Petition</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </td>
      </tr>
    </tbody>
  {% endfor %}
</table>
{% endblock %}
